.place-card__delete-icon {
  background: none;
  background: url(../../../images/trash-icon.svg) center no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: none;
  outline: none;
  transition: transform .3s linear;
}

.place-card__delete-icon:hover {
  transform: scale(1.13);
}

/*.place-card:hover .place-card__delete-icon {*/
/*  display: block;*/
/*}*/
